body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #222C3C; /* Dark blue background color */
    font-family: "Arial", sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* Adjust the background size to cover the entire screen */
}

.fade-in-out {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D4D4D4; /* Light gray text color */
    text-shadow: 0 0 10px #D4D4D4; /* Light gray text shadow */
    animation: fade 20s linear infinite;
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: 2px;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
