body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #222C3C; /* Dark blue background color */
    font-family: "Arial", sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* Adjust the background size to cover the entire screen */
}

.fade-in-out {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D4D4D4; /* Light gray text color */
    text-shadow: 0 0 10px #D4D4D4; /* Light gray text shadow */
    animation: fade 20s linear infinite;
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: 2px;
}


.introduction-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    opacity: 0.7; /* Set the opacity */
    cursor: move; /* Set the cursor style to indicate draggability */
    position: absolute; /* Position the card absolutely for draggable behavior */
    left: 50%;
    top: 80%; /* Adjust the initial position to start below the text */
    transform: translate(-50%, -50%);
}

.introduction-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.introduction-card p {
    font-size: 1rem;
    color: #666666;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
